<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <title></title>
</head>
<body>
    <div th:fragment="errorSummary" th:if="${#fields.hasErrors('*')}" class="govuk-error-summary error-summary"
         aria-labelledby="error-summary-title" role="alert" tabindex="-1"
         data-module="govuk-error-summary">
        <h2 class="govuk-heading-m govuk-error-summary-heading"
            id="error-summary-title" th:text="#{error.summary.heading}">
        </h2>
        <ul class="govuk-list govuk-error-summary__list">
            <li th:each="e: ${#lists.sort(#fields.detailedErrors(), errorComparator)}" class="fielderr">
                <a th:utext="${e.message}"
                   th:href="'#' + ${#strings.replace(e.fieldName,'.','-')} +'-error'"></a>
            </li>
        </ul>
    </div>
</body>
</html>