<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}"
      lang="en">
    <head>
        <title th:text="${#fields.hasErrors('${formTemplate.*}')} ? #{error} + ' ' + #{documentSelection.title}
            : #{documentSelection.title}"></title>
    </head>
    <body class="govuk-template__body" layout:fragment="content">
        <form class="formTemplate" th:object="${formTemplate}"
              th:action="@{/efs-submission/{id}/company/{companyNumber}/document-selection(id=*{submissionId}, companyNumber=*{companyNumber})}" method="post">
            <a class="govuk-back-link"
               th:href="@{/efs-submission/{id}/company/{companyNumber}/category-selection?category={sequence}(id=*{submissionId}, companyNumber=*{companyNumber},sequence=${categoryTemplate.parentCategorySequence})}"
               th:text="#{link.back}"></a>
            <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        <div th:replace="fragments/errorSummary :: errorSummary"></div>
                        <fieldset class="govuk-fieldset" data-required="data-required"
                                  th:attr="data-error=#{NotBlankFormTemplate.formTemplate.details}">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                    <span id="category-name" class="govuk-caption-xl"
                                          th:text="${categoryTemplate.categoryName}"></span>
                                <h1 class="govuk-fieldset__heading"
                                    th:text="#{documentSelection.docType}"></h1>
                            </legend>
                            <div class="govuk-form-group" th:classappend="${#fields.hasErrors('*')}
                                ? 'govuk-form-group--error' : ''">
                                    <span id="details-error" class="govuk-error-message"
                                          th:if="${#fields.hasErrors('details')}"
                                          th:each="e: ${#fields.errors('details')}" th:text="${e}"></span>
                                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                        <div th:each="formTemplate : *{formTemplateList}"
                                             class="govuk-radios__item">
                                            <input class="govuk-radios__input show-text piwik-event" th:field="${formTemplate.formType}"
                                                   th:value="${formTemplate.formType}" type="radio"
                                                   th:id="${formTemplate.formType}"
                                                   th:attr="data-event-id=${formTemplate.formType}"
                                                   th:attrappend="aria-disabled=${formTemplate.formType eq '600' and isScottishCompany} ? 'true' : null"
                                                   th:disabled="${formTemplate.formType eq '600' and isScottishCompany == true}"/>
                                            <label class="govuk-label govuk-radios__label"
                                                   th:for="${formTemplate.formType}" th:text="${formTemplate.formName}"></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        <div>
                            <button data-prevent-double-click="true" id="submit-all" type="submit" class="govuk-button"
                                    name="action" value="submit"
                                    th:text="#{button.continue}"></button>
                        </div>
                    </div>
                </div>
            </main>
        </form>
    </body>
</html>
