<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}"
      lang="en">
<head>
    <title>Service not available</title>
</head>
<body class="govuk-template__body" layout:fragment="content">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" th:text="#{500.problemWithService}"></h1>
            <p th:text="#{500.tryAgain}"></p>
            <p th:text="#{500.answersNotSaved}"></p>
        </div>
    </div>
</main>
</body>
</html>